@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-bg: #FFFCF0;
  --color-text: #100F0F;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'EB Garamond', serif;
}

a {
  transition: none;
}

a:hover {
  opacity: 0.5;
  filter: brightness(3);
}

button {
  cursor: pointer;
}

.theme-toggle {
  transition: none;
}

.theme-toggle:hover {
  opacity: 0.5;
  filter: brightness(3); /* 0 = black, 1 = normal, >1 = lighter */
}

button * {
  cursor: pointer;
}

