@import "tailwindcss";

:root {
  --color-bg: #FFFCF0;
  --color-text: #100F0F;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'EB Garamond', serif;
}

button {
  cursor: pointer;
}

button * {
  cursor: pointer;
}

.theme-toggle-btn,
.theme-toggle-btn * {
  transition: none !important;
}
