---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="max-w-4xl mx-auto px-6 py-12">
    <h1 class="font-bold text-[36px]"> About Me </h1>
    <p class="mt-4 text-[24px]">I'm Peter, a rising junior at the University of Notre Dame studying CS and Econ.
      I'm passionate about the intersection of tech and business strategy. When I'm offline, 
      I'm probably playing tennis, rock climbing, cooking, or exploring new places. Check out some of these links:</p>
    <ul class="list-disc mt-6 space-y-2 pl-15 marker:text-gray-400 [&_a]:underline">
      <li><a href="/projects" class="text-[24px]">Projects</a></li>
      <li><a href="/blog" class="text-[24px]">Thoughts</a></li>
      <li><a href="/places" class="text-[24px]">Places</a></li>
      <li><a href="/contact" class="text-[24px]">Contact</a></li>
    </ul>
  </main>
</Layout>
