---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="max-w-4xl mx-auto px-6 py-12">
    <a href="/" class="hover:underline text-[16px] mb-8 block">← Let's go back home</a>
    <h1 class="font-bold text-[36px]">Places</h1>
    <p class="mt-4 text-[24px]">Oh, the places you'll go!</p>
  </main>
</Layout>
